.illustration {
    width: 550px;
    position: absolute;
    right: 10%;
    top: 20%;
    user-select: none;
}

.text-block {
    width: 80%;
    margin: 0 auto;
    user-select: none;
    z-index: 1000;
    padding-top: 35rem;

    .text-main {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        span {
            font-weight: 800;
            
            &::before {
                content: 'Prasanna Acharya';
                border-bottom: 4px solid white;
            }
        }
    }
    .text-description {
        font-size: 1.3rem;
        width: 60%;
    }
}




// Responsive media queries
@media (max-width: 1400px) {
    .illustration {
        width: 500px;
    }

    .text-block {
        position: relative;
        bottom: 5rem;
    }
}

@media (max-width: 1200px) {
    .illustration {
        width: 450px;
    }

    .text-block {
        .text-main {
            font-size: 2.2rem;
        }
        .text-description {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 1070px) {
    .illustration {
        width: 420px;
        right: 8%;
    }

    .text-block {
        bottom: 6rem;
    }
}

@media (max-width: 1000px) {
    .illustration {
        width: 420px;
        right: 1.5%;
    }

    .text-block {
        width: 85%;
        position: relative;
        bottom: 6rem;
    }
}

@media (max-width: 930px) {
    .illustration {
        width: 400px;
        right: 0%;
    }
}

@media (max-width: 870px) {
    .illustration {
        width: 400px;
        right: -12%;
        transform: translateY(25%);
    }

    .text-block {
        width: 90%;
        transform: translateY(8%);
        
        .text-description {
            width: 80%;
        }
    }
}

@media (max-width: 840px) {
    .illustration {
        right: -19%;
    }

    .text-block {
        width: 90%;

        .text-description {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 770px) {
    .illustration {
        right: -25%;
    }
}

@media (max-width: 770px) {
    .illustration {
        right: -25%;
    }

    .text-block {
        width: 90%;

        .text-description {
            font-size: 1.4rem !important;
        }
    }
}

@media (max-width: 675px) {
    .illustration {
        width: 500px;
        right: -40%;
        transform: translateY(50%);
    }
}

@media (max-width: 675px) {
    .illustration {
        right: -40%;
        transform: translateY(40%);
    }

    .text-block {
        width: 90%;
        transform: translateY(10%);

        .text {
            width: 85%;
        }
    }
}




@media (max-width: 430px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .illustration {
        transform: translate(-10%, 7%);
    }

    .text-block {
        width: 700px;
        padding-left: 2rem;
        padding-bottom: 10rem;
        padding-top: 32rem;

        .text-main {
            font-size: 2.6rem !important;
            padding-bottom: 1rem;
        }

        .text-description {
            font-size: 1.4rem !important;
        }
    }
}

@media (max-width: 380px) {
    .illustration {
        transform: translate(4%, 10%);
    }

    .text-block {
        padding-left: 1.3rem;
        padding-bottom: 10rem;
        padding-top: 32rem;

        .text-description {
            font-size: 1.8rem !important;
        }
    }
}