.dropdown-menu {
    position: relative;
    display: none;
}

.dropdown-toggle {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  right: 1rem;
  background-color: #3a5f22;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid grey;
}

@media (max-width: 635px) {
    .dropdown-menu {
        display: inline-block;
    }
}