.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    margin-bottom: 6rem;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #009879;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}