.illustration {
    width: 600px;
    position: absolute;
    right: 10%;
    top: 20%;
    user-select: none;
}

.text-block {
    z-index: 100;
    width: 80%;
    margin: 0 auto;
    user-select: none;
    
    .text {
        padding-top: 35rem;
        width: 60%;
    
        .text-main {
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 1.5rem;
            span {
                font-weight: 800;
                
                &::before {
                    content: 'Prasanna Acharya';
                    border-bottom: 4px solid white;
                }
            }
        }

        .text-description {
            font-size: 1.3rem;
            z-index: 1000;
        }
    }
}

