.container {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    z-index: 9999;
}

.logo {
    height: 2.9rem;
    border-radius: 20%;
    margin-right: 10px;
    box-shadow: 0.2px 0.2px 2px 1px rgba(255, 255, 255, 0.44);
}

.main-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    div {
        font-weight: 800;
        font-size: 1.5rem;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    div {
        margin-left: 7rem;
        font-weight: 600;
        color: white;
        cursor: pointer;
        transition: color 0.3s ease;

        span {
            color: blue !important;
            padding-right: 5px;
            visibility: hidden !important;
        }
    }
}

.nav-menu .hovered {
    color: yellow;
    
    span {
        color: blue !important;
        visibility: visible !important;
        font-weight: 800;
    }
}

.inactive {
    text-decoration: none;
}



// Responsive media queries
@media (max-width: 1120px) {
    .nav-menu {
        padding-right: 1rem;

        div {
            margin-left: 3rem;
        }
    }
}

@media (max-width: 930px) {
    .nav-menu div {
        font-size: 1rem;
    }

    .container {
        width: 85%;
    }
}

@media (max-width: 775px) {
    .nav-menu div {
        margin-left: 1.8rem;
    }

    .container {
        width: 90%;
    }

}
@media (max-width: 775px) {
    .main-logo {
        .logo {
            height: 3rem;
        }

        div {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 635px) {
    .nav-menu {
        display: none;
    }
}

